body {
  background-color: #dcdcdc;
}

.contentBlock {
  height: 25%;
  margin: 20px auto;
  border-radius: 5px;
  padding-top: 5%;
  text-align:  center;
}

.employeeImg{
  padding: 10px;
  border-radius: 2rem;
}

.mainTitle {
  text-align: center;
  color: #2f3e46;
}

.searchForm {
  text-align: right;
  margin: 25px
}

.searchInput {
  margin-right: 10px;
  border-radius: 5px;
}

.form-group {
  width: 25%;
  margin: 0 auto;
  /* background-color: #52796f; */
  padding: 20px;
  border-radius: 2rem;
}

.header {
  margin: 0 auto;
  padding: 20px;
}

/* .employeeCard {
  background-color: #cad2c5;
  border-radius: 5px;
  padding: 20px;
  margin: 39px;
} */