body {
  background-color: #cad2c5;
}

.contentBlock {
  height: 25%;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #52796f;
  padding-top: 5%;
  text-align:  center;
}

.mainTitle {
  text-align: center;
  color: #2f3e46;
}

.searchForm {
  text-align: right;
  margin: 25px
}

.searchInput {
  margin-right: 10px;
  border-radius: 5px;
}

/* .employeeCard {
  background-color: #cad2c5;
  border-radius: 5px;
  padding: 20px;
  margin: 39px;
} */